<body>
    <header class="bg_animate">
        <div class="header_nav">
            <div class="contenedor">
                <h1>Novatinas V35</h1>
                <nav>
                    <a href="#">Inicio</a>
                    <a href="#">Servicios</a>
                    <a href="#">Contacto</a>
                </nav>
            </div>
        </div>

        <section class="banner contenedor">
            <section class="banner_title">
                <h2>Necesitas Esmaltar <br> Tu Tina?</h2>
                <a href="#" class="llamanos">Llamanos ya!</a>
            </section>
            <div class="banner_img">
                <img src="../../assets/src/img/LogoNova.png" alt="">
                <img src="../../assets/src/img/" alt="">
            </div>
        </section>

        <div class="burbujas">
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
            <div class="burbuja"></div>
        </div>
    </header>
</body>
