*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', 'Sans serif';
}

.contenedor{
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.bg_animate{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #005C98, #505BDA);
  position: relative;
  overflow: hidden;
}

.header_nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header_nav .contenedor{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header_nav h1{
  color: #fff;
  font-family: 'Gagalin';
}

.header_nav nav a{
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.banner_title h2{
  color: #fff;
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 20px;
}

.banner_title .llamanos{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  background: #1A2849;
  padding: 20px;
}

.banner_img{
  animation: movimiento 2.5s linear infinite;
}

.banner_img img{
  width: 600px;
  display: block;
}

/* burbujas */


.burbuja{
  border-radius: 50%;
  background: #fff;
  opacity: .3;
  background-image: url("../../assets/src/img/Burbuja.png");
  position: absolute;
  bottom: -150;
  
  animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
  animation-delay: 3s;
  
}

.burbuja:nth-child(2){
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 5s;
}

.burbuja:nth-child(3){
  width: 20px;
  height: 20px;
  left: 15%;
  animation-duration: 1.5s;
  animation-delay: 7s;
}

.burbuja:nth-child(4){
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 6s;
  animation-delay: 3s;
}

.burbuja:nth-child(5){
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 3s;
  animation-delay: 1s;
}

.burbuja:nth-child(6){
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.burbuja:nth-child(7){
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.burbuja:nth-child(8){
  width: 100;
  height: 100px;
  left: 52%;
  animation-duration: 5s;
  animation-delay: 5s;
}

.burbuja:nth-child(9){
  width: 65px;
  height: 65px;
  left: 51%;
  animation-duration: 3s;
  animation-delay: 2s;
}

.burbuja:nth-child(10){
  width: 40px;
  height: 40px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 4s;
}

.burbuja:nth-child(11){
  width: 30px;
  height: 30px;
  left: 20%;
  animation-duration: 2s;
  animation-delay: 5s;
}

.burbuja:nth-child(12){
  width: 80px;
  height: 80px;
  left: 70%;
  animation-duration: 4s;
  animation-delay: 2s;
}

.burbuja:nth-child(13){
  width: 60px;
  height: 60px;
  left: 80%;
  animation-duration: 3s;
  animation-delay: 6s;
}

.burbuja:nth-child(14){
  width: 50px;
  height: 50px;
  left: 10%;
  animation-duration: 5s;
  animation-delay: 4s;
}

.burbuja:nth-child(15){
  width: 25px;
  height: 25px;
  left: 45%;
  animation-duration: 1.5s;
  animation-delay: 3s;
}

.burbuja:nth-child(16){
  width: 70px;
  height: 70px;
  left: 30%;
  animation-duration: 3s;
  animation-delay: 7s;
}

.burbuja:nth-child(17){
  width: 45px;
  height: 45px;
  left: 60%;
  animation-duration: 2s;
  animation-delay: 1s;
}

.burbuja:nth-child(18){
  width: 90px;
  height: 90px;
  left: 80%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.burbuja:nth-child(19){
  width: 35px;
  height: 35px;
  left: 15%;
  animation-duration: 2s;
  animation-delay: 3s;
}

.burbuja:nth-child(20){
  width: 55px;
  height: 55px;
  left: 85%;
  animation-duration: 3s;
  animation-delay: 1s;
}

@keyframes burbujas{
  0%{
      bottom: 0;
      opacity: 0;
  }
  30%{
      transform: translateX(30px);
  }
  50%{
      opacity: .4;
  }
  100%{
      bottom: 100vh;
      opacity: 0;
  }
}

@keyframes movimiento{
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(30px);
  }
  100%{
      transform: translateY(0);
  }
}
/* Footer */


  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin:0;
}

.h1footer {
  font-family: 'Bebas Neue', sans-serif;
    font-weight:300;
  letter-spacing: 2px;
  font-size:28px;
  color: #f0f1f4;
  font-weight: bold;
  text-decoration: underline;
}
p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width: 200px;
  fill: white;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  text-align: center;
  /* Estilos de resplandor en gradiente */
  box-shadow: 0 0 20px 6px rgba(255, 255, 255, 0.5), 
              0 0 40px 12px rgba(255, 255, 255, 0.3), 
              0 0 80px 24px rgba(255, 255, 255, 0.1),
              inset 0 0 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.logo:hover {
  box-shadow: 0 0 20px 6px #6FC3DF, 
              0 0 40px 12px #3498DB, 
              0 0 80px 24px #1F618D,
              inset 0 0 20px rgba( 0, 0, 0.4);
}
.inner-header {
  height:55vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
  transform: scaleY(-1.5);
}

.content {
  position:relative;
  height:35vh;
  text-align:center;
  width: 40vh;
  background-color: rgba(255, 255, 255, 0.214);
  border: #333333;
  border-radius: 30px;
  margin: 5px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
@media (max-width: 800px) {
  .content {
    height: 30vh;
    width: 100%; /* Nueva propiedad */
  }
  h1 {
    font-size: 36px;
  }
}


@keyframes typing {
  from {
    width: 0
  }
    0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


@media screen and (max-width: 768px) {
  /* Estilos para pantallas con un máximo de 768px de ancho */
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

@media screen and (max-width: 800px) {
  /* Estilos para pantallas con un máximo de 800px de ancho */
  .content {
    height: 30vh;
    width: 100%;
  }
  h1 {
    font-size: 36px;
  }
}

/* Estilos para pantallas con un ancho máximo de 480px */
@media screen and (max-width: 480px) {
  .banner_title h2 {
    font-size: 40px;
  }
  .banner_title .llamanos {
    font-size: 16px;
  }
}

/* Estilos para pantallas con un ancho máximo de 600px */
@media screen and (max-width: 600px) {
  .contenedor {
    width: 100%;
    padding: 0 15px;
  }
}

/* Estilos para pantallas con un ancho máximo de 992px */
@media screen and (max-width: 992px) {
  .header_nav .contenedor {
    flex-direction: column;
    align-items: center;
  }
  .header_nav nav a {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* Estilos para pantallas con un ancho mínimo de 1200px */
@media screen and (min-width: 1200px) {
  .contenedor {
    padding: 0;
  }
}